# Virtual Environment & packages
.python-version
.env

# Code editor (IntelliJ & VSCode)
.settings/
.vscode/

# Byte-compiled, optimized, and DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Database-related
*.sqlite3
*.db
postgres-data
